.not-verified h3, .not-verified h5 {
    font-family: 'Google Sans', 'Lato', sans-serif;
}
.not-verified {
    text-align: center;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(237,247,255,1) 100%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-verified mat-card {
    width: 50%;
    margin: auto;
}

.not-verified img {
    width: 300px;
    margin: auto;
}

.wrapper {
    display: flex;
    padding: 1.2em;
    background: #fbfbfb;
}

.wrapper .left {
    width: 48%;
    margin-right: 2%;
}
.wrapper .right {
    flex-grow: 1;
    flex-basis: 0;
}

.no-course {
    font-size: 0.9em;
    color: gray;
    text-align: center;
}

mat-card {
    margin-bottom: 1.2em;
}

h3 {
    font-family: 'Google Sans', 'Open Sans', sans-serif;
}

h3 i {
    font-size: 0.9em;
}