<nav class="mat-elevation-z4">
  <ul>
    <li routerLink="/">
      <h2>CS315 Project</h2>
    </li>
    <div style="flex-basis: 0; flex-grow: 1;pointer-events: none"></div>
    <li *ngIf="(uss.loggedIn | async) === 'true'">Acads</li>
    <li *ngIf="(uss.loggedIn | async) === 'true'">Complaints</li>
    <li *ngIf="(uss.loggedIn | async) === 'true'">Whatever</li>
    <li *ngIf="(uss.loggedIn | async) === 'true'" class="sign-out" (click)="uss.logout()">
      Sign out &nbsp; <span style="font-size: 1.5em" class="fas fa-sign-out-alt"></span>
    </li>
  </ul>
</nav>